@charset "UTF-8";

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
 /*Isere aqui as variáveis CSS de cor, font e os escambau kkk' */
 --font-padrao: Arial, Helvetica, sans-serif;
 --cor-preta: #000;
 --cor-branca: #fff;
}
