/* --------------Reset pagina -------------
------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* --------------Body --------------------
------------------------------------------*/
body {
    background-color: #f5f7fa;
    color: #333;
    overflow-x: hidden;
    line-height: 1.6;
}

/* --------------topo + input -------------
------------------------------------------*/

header {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 5%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

h1 {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: black;
    font-weight: 600;
    height: 40px;
}

img {
    height: 50px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    padding: 8px 5px;
    transition: all 0.3s ease;
    position: relative;
    
}

nav ul li a:hover {
    color: #008000;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #008000;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

nav input {
    background-color: #f1f5f9;
    border: 1px solid #e2e8f0;
    border-radius: 5px;
    padding: 8px 60px;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    color: #64748b;
    flex: 1;
    min-width: 150px;
    max-width: 300px;
}
/* --------------btn admin ------------ 
------------------------------------------*/

#Admin {

    color: black;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    margin-left: 20px;
    white-space: nowrap;

}

#Admin:hover {
    background-color: #008000;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(44, 128, 184, 0.3);
}