/* --------------Reset pagina -------------
------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* --------------Body --------------------
------------------------------------------*/
body {
    background-color: #f5f7fa;
    color: #333;
    overflow-x: hidden;
    /* line-height: 1.6; */
}

/* --------------topo + input -------------
------------------------------------------*/

header {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0 5%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: black;
    font-weight: 600;
    height: 40px;
}

img {
    height: 50px;
    margin-bottom: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 20px; 
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    padding: 8px 5px;
    transition: all 0.3s ease;
    position: relative;
    
}

nav ul li a:hover {
    color: #008000;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #008000;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

nav input {
    background-color: #f1f5f9;
    border: 1px solid #e2e8f0;
    border-radius: 5px;
    padding: 8px 60px;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    color: #64748b;
    flex: 1;
    min-width: 150px;
    max-width: 300px;
}

/* --------------btn admin ------------ 
------------------------------------------*/

#Admin {

    color: black;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    margin-left: 20px;
    white-space: nowrap;

}

#Admin:hover {
    background-color: #008000;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(44, 128, 184, 0.3);
}

/* --------------Banner ------------------
------------------------------------------ */

.banner {
    background: url('./../assets/img/banner/banner2.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
    padding: 80px 5%;
    text-align: center;
    margin-top: 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    overflow-x: hidden;

}

h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: black;
}

p {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 30px;
    font-weight: 500;
}

#ver-produtos {

    color: white;
    background-color: #008000;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    align-items: center;

}


/* --------------Destaque + cards ------------------
-------------------------------------------------- */

.destaque {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}

.destaque h3 {
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.destaque p {
    font-size: 1rem;
    color: black;
    text-align: center;
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    border: solid 1px black;
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card-content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card h4 {
    font-size: 1.3rem;
    color: black;
    margin-bottom: 10px;
    line-height: 1.3;
}

.card p {
    color: black;
    margin-bottom: 20px;
    flex-grow: 1;
}

.btn-explorar {
    display: flex;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    align-self: auto;
}

.btn-verde {
    color: #008000;
    background-color: white;
    border: 2px solid #008000;

}

.btn-azul {
    color: #2196F3;
    background-color: white;
    border: 2px solid #2196F3;
}

.btn-explorar:hover {
    transform: scale(1.05);
}

/* ------------------Motivos ------------------
-------------------------------------------- */


.motivo {
    background: white;
    padding: 40px 20px;
    text-align: center;
    margin-top: 40px;
}

.motivo h3 {
    font-size: 1.8rem;
    color: black;
    margin-bottom: 15px;
    font-weight: 600;
}

.motivo p {
    font-size: 1rem;
    color: #7f8c8d;
    margin-bottom: 30px;
}

.motivo-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.motivo-card {
    background: transparent;
    padding: 0;
    text-align: center;
    min-width: 200px;
}

.motivo-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    object-fit: contain;
}

.motivo-card h4 {
    font-size: 1.1rem;
    color: black;
    margin-bottom: 10px;
    font-weight: 600;
}

.motivo-card p {
    color: #7f8c8d;
    line-height: 1.4;
    font-size: 0.9rem;
    max-width: 250px;
}

/* --------------Footer ------------------
------------------------------------------ */

footer {
    width: 100vw;
    background: #101829;
    color: white;
    padding: 3rem 0;
    margin-top: 40px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 0 20px;
}

.footer-section {
    text-align: left;
}

.footer-section h4 {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
    position: relative;
    padding-bottom: 0.5rem;
}

.footer-section h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 3px;
    background-color: #3498db;
    border-radius: 2px;
}

.footer-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: #e0e0e0;
    margin-bottom: 1rem;
    max-width: 300px;
}

.footer-section ul {
    list-style: none;
    font-size: 1rem;
}

.footer-section ul li {
    margin-bottom: 0.7rem;

}

.footer-section ul li a {
    color: #e0e0e0;
    list-style: none;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-section ul li a:hover {
    color: #3498db;
    padding-left: 5px;
}

.footer-section img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
}

/* -----------Responsividade em varios------------
-------------------tipos de telas---------------- */

