@charset "UTF-8";

/* Importando o sistema.css pra poder usar o :root dele para aplicar nos titulos e icones :D */
@import url("../../medcontrol-sistema/telas/estilo-componentes/sistema.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/*Estilizando o "funcionarios.js"----------------------------------------------------------------------------------------------------------------*/
.tela-funcionarios {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 1rem;
  background: linear-gradient(180deg, var(--fundo-principal), #0b1626 60%);
  border-radius: 13px;
}

.container {
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}

.card-funcionarios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  color: var(--cor-branca);
}

.card-funcionarios p {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--cor-branca);
}

.valores-funcionarios {
  position: relative;
  top: -26px;
  font-size: 2.5rem !important;
  font-weight: bold;
  color: var(--cor-branca);
}

.total-funcionarios {
  width: 300px;
  height: 160px;
  background-color: var(--cor-branca);
  border-radius: 15px;
  text-align: center;
  background-color: var(--fundo-card);
  border: solid 1px #0077ff;
}

.total-funcionarios p {
  margin-top: 10px;
}

.funcionario-ativo {
  width: 300px;
  height: 160px;
  background-color: var(--fundo-card);
  border: solid 1px #59f01d;
  border-radius: 15px;
  text-align: center;
}

.funcionario-ativo p {
  margin-top: 10px;
}

.funcionario-desligado {
  width: 300px;
  height: 160px;
  background-color: var(--fundo-card);
  border: solid 1px #fa3636;
  border-radius: 15px;
  text-align: center;
}

.funcionario-desligado p {
  margin-top: 10px;
}

/* icones dos cards */
.card-funcionarios i {
  margin-top: 15px;
  font-size: 40px;
  color: orange;
}

/* Hover para cada card */
.total-funcionarios:hover {
  background-color: #0077ff;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.funcionario-ativo:hover {
  background-color: #59f01d;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.funcionario-desligado:hover {
  background-color: #fa3636;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

/*  Barra de pesquisa - FUNCIONÁRIOS --------------------------------------------------------- */
.funcionarios-pesquisa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.search-container {
  display: flex;
  gap: 10px;
}

.buscar-input-funcionario  {
  flex: 1;
  padding: 15px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  min-width: 0;
  background-color: var(--fundo-card);
  color: white;
}

.input-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
}

.buscar-input-funcionario::placeholder {
  color: #ffffffee;
}

/* ------- Botão de novo funcionário ------- */
.btn-novo-funcionario {
  background-color: #FFA500;
  color: var(--cor-branca);
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Tabela de Funcionários -----------------------------------------------------------*/

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #0F2036;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

table tbody td {
  padding: 14px;
  font-size: 16px;
  background-color: #0F2036;
  color: var(--cor-branca);
}

table tbody tr {
  background-color: var(--cor-branca);
  border-bottom: 1px solid #e5e5e5;
}

table th {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
  color: var(--cor-branca);
}

/* Tabela de Relatório -----------------------------------------------------------*/
.tabela-relatorio table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: var(--cor-branca);
  border-radius: 8px;
  overflow: hidden;
}

.tabela-relatorio th {
  height: 50px;
  text-align: left;
  padding-left: 20px;
  background-color: var(--fundo-card);
  color: var(--cor-branca);
}

/* Estilo dos hover da tabela ---------------------*/
/* Neutraliza fundo dos td dentro da tabela de relatório */
.tabela-relatorio td {
  background-color: transparent !important;
}

/* Define cor base das linhas (odd/even) nos td */
.tabela-relatorio tbody tr:nth-child(odd) td,
.tabela-relatorio tbody tr:nth-child(even) td {
  background-color: var(--fundo-card) !important;
  color: var(--cor-branca) !important;
}

/* Aplica o hover nas células */
.tabela-relatorio tbody tr:hover td {
  background-color: var(--amarelo-medcontrol) !important;
  color: var(--cor-branca) !important;
}

/*---------------------------------------------------------*/

.tabela-relatorio td i {
  color: var(--amarelo-medcontrol);
}

/*Botões de editar e excluir de produtos: */
.btn-funcionarios-editar {
  background-color: var(--amarelo-medcontrol);
  color: var(--cor-branca);
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.btn-funcionarios-excluir {
  background-color: #e84118;
  color: var(--cor-branca);
  border: none;
  border-radius: 4px;
  padding: 8px 17px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.btn-funcionarios-excluir:hover {
  background-color: #c23616;
}

.btn-funcionarios-editar:hover {
  background-color: rgb(190, 147, 29);
}

/*----------------------- modal de novo funcionario----------------------------------*/
.hidden{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
  max-width: 450px;
  margin: auto;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.fechar-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #e84118;
  transition: transform 0.2s;
}

.fechar-modal:hover {
  transform: scale(1.2);
}

.cadastro-funcionario-modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--fundo-card);
  padding: 1rem;
  color: var(--amarelo-medcontrol);
}

.cadastro-funcionario-modal input,
.cadastro-funcionario-modal select {
  height: 40px;
  border: 1px solid #dcdde1;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
  background-color: var(--fundo-card);
  color: var(--cor-branca);
}

/* Título do modal de novo funcionario e modal mudança de cor */
#NovoFuncionario .modal-content h3 {
  color: var(--amarelo-medcontrol);
  margin-bottom: 12px;
}

#NovoFuncionario .modal-content{
  background-color: var(--fundo-card);
}
/*-------------------------------------*/

#NovoFuncionario{
  padding: 20px;
} 

/*Salvar e cancelar do modal de editar*/

/* Botão Salvar */
.cadastro-funcionario-modal .salvar{
  background-color: #44bd32;
  color: var(--cor-branca);
  border: none;
  border-radius: 7px;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.cadastro-funcionario-modal .salvar:hover {
  background-color: #4cd137;
  color: var(--cor-branca);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

/* Botão Cancelar */
.cadastro-funcionario-modal .cancelar{
  background-color: #e84118;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cadastro-funcionario-modal .cancelar:hover {
  background-color: #8d260c;
  color: var(--cor-branca);
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}	
/*-----------------------------------------------------------*/
/* Estilo do modal de editar funcionarios --------------------------------------------------------*/
.modal-editar-content #form-editar-funcionario{
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
}

.modal-editar-content{
  margin-top: 400px;
  margin-bottom: 50px;
  background-color: var(--fundo-card);
  padding: 15px;
  border-radius: 8px;
}

.modal-editar-content h3 {
  margin-top: 15px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--amarelo-medcontrol);
}

.modal-editar-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Estilo dos inputs do modal de editar cliente: */
.modal-editar-content input,
.modal-editar-content select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
#form-editar-funcionario{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/*a cor dos inputs e selects do modal de editar cliente */
#form-editar-funcionario input,
#form-editar-funcionario select{
  background-color: var(--fundo-card);
  color: var(--cor-branca);
}

#form-editar-funcionario{
  background-color: var(--fundo-card);
  color: var(--cor-branca);
}

.modal-content h3{
  color: var(--amarelo-medcontrol);
}

#form-editar-funcionario label{
  color: var(--amarelo-medcontrol);
}

/* Botão Salvar */
#form-editar-funcionario .btn-primary {
  background-color: #44bd32;
  color: var(--cor-branca);
  border: none;
  border-radius: 7px;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

#form-editar-funcionario .btn-primary:hover {
  background-color: #4cd137;
  color: var(--cor-branca);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
/*----------------------------------*/
/* Botão Fechar */
#form-editar-funcionario .btn-secondary{
  background-color: #e84118;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

#form-editar-funcionario .btn-secondary:hover {
  background-color: #8d260c;
  color: var(--cor-branca);
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}



/*--------------------------------- Responsividade para telas menores ------------------------------------------------ */
/* Estilos para telas menores que 768px */
@media (max-width: 768px) {

  .tela-funcionarios {
    padding: 0.5rem;
  }

  .card-funcionarios {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
  }

  .total-funcionarios,
  .funcionario-ativo,
  .funcionario-desligado {
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
  }

  .card-funcionarios p {
    font-size: 1.3rem;
  }

  .valores-funcionarios {
    font-size: 2rem !important;
    top: -10px;
  }

  .funcionarios-pesquisa {
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .search-container {
    width: 100;
    flex-direction: column;
  }

  .input-wrapper {
    width: 100%;
  }

  .buscar-input {
    border-radius: 5px;
  }

  .btn-novo-cliente {
    width: auto;
    border-radius: 5px;
    padding: 14px;
  }

  .funcionarios-tabela {
    overflow-x: auto;
    display: block;
  }

  .funcionarios-tabela table {
    min-width: 700px;
  }

  table th,
  table td {
    font-size: 14px;
    padding: 10px;
  }

  .editar-cliente,
  .excluir-cliente {
    width: 100%;
    padding: 10px;
    font-size: 13px;
  }

  .modal {
    padding: 10px;
  }

  .modal-content,
  .modal-editar-content,
  .modal-editar-content #form-editar-cliente {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .modal-content h3,
  .modal-editar-content h3 {
    font-size: 1.3rem;
  }

  .cadastro-cliente-modal input,
  .cadastro-cliente-modal select,
  #form-editar-cliente input,
  #form-editar-cliente select {
    font-size: 0.95rem;
    padding: 0.8rem;
  }

  .cadastro-cliente-modal button,
  #form-editar-cliente .btn-primary,
  #form-editar-cliente .btn-secondary {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
  }

  .fechar-modal {
    font-size: 1.3rem;
  }
}



