@charset "UTF-8";

/* Importando o sistema.css pra poder usar o :root dele para aplicar nos titulos e icones :D */
@import url("../../medcontrol-sistema/telas/estilo-componentes/sistema.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



/*----------------------------------------*/
/*------------------------Estilizando relatorios.js---------------------------------------*/
.tela-relatorio {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 0.5rem;
  background: linear-gradient(180deg, var(--fundo-principal), #0b1626 60%) !important;
  border-radius: 13px;
}

/*Estilos relaciona ao dashboard-cards*/
.container {
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}

.dashboard-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  color: var(--cor-branca);
}

.card-relatorio p {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--cor-branca);
}

.valores-relatorio {
  position: relative;
  top: -26px;
  font-size: 2.5rem !important;
  font-weight: bold;
  color: var(--cor-branca);
}

.receita-total {
  width: 300px;
  height: 160px;
  background-color: var(--cor-branca);
  border-radius: 15px;
  text-align: center;
  background-color: var(--fundo-card);
  border: solid 1px #ffee00;
}
.receita-total p {
  margin-top: 10px;
}

.usuarios-ativos {
  width: 300px;
  height: 160px;
  background-color: var(--cor-branca);
  border-radius: 15px;
  text-align: center;
  background-color: var(--fundo-card);
  border: solid 1px #0077ff;
}
.usuarios-ativos p {
  margin-top: 10px;
}

.total-clientes-relatorio {
  width: 300px;
  height: 160px;
  background-color: var(--cor-branca);
  border-radius: 15px;
  text-align: center;
  background-color: var(--fundo-card);
  border: solid 1px #59f01d;
}

.total-clientes-relatorio p {
  margin-top: 10px;
}

.relatorio-vendas-total {
  width: 300px;
  height: 160px;
  background-color: var(--cor-branca);
  border-radius: 15px;
  text-align: center;
  background-color: var(--fundo-card);
  border: solid 1px #59f01d;
}

/* icones dos cards */
.dashboard-cards i {
  margin-top: 15px;
  font-size: 40px;
  color: orange;
}



/*Estilos relaciona ao hover do dashboard-cards*/
/* Hover para cada card */
.receita-total:hover {
  background-color:  #ffee00a4;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.total-clientes-relatorio:hover {
  background-color: #59f01d;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.usuarios-ativos:hover{
  background-color: #0077ff;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.relatorio-vendas-total:hover {
  background-color: #59f01d;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
/*-------------------------------------------------------------------------------------------*/
/*Estilos relaciona ao geral relatorios*/
.container-relatorios {
  display: block;
  justify-items: center;
  gap: 35px;
  margin-top: 40px; 
  margin-bottom: 4px;
}

.container-relatorios-secundarios{
  display: inline-flex;
  justify-content: space-around;
}

/*-------------------------------------------------------------------------------------------*/
/*Estilos relaciona ao grafico relatorio*/
.container-grafico{
  width: 100%;
  background-color: var(--fundo-card);
  border-radius: 8px;
  padding: 1.5rem;
  font-weight: bold;
  height: 700px;
  margin-bottom: 30px;
}

.titulo-grafico{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--cor-branca);
  position: relative;
}
.titulo-grafico::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 1px;
  background-color: orange;
  transition: width 0.3s ease-in-out;
}
.titulo-grafico:hover::before{
  width: 34%;
}

/*-----------------------------------------------------------------------------------------*/
/*Estilos relaciona ao calendario*/
.container-calendario {
  width: 40%;
  background-color: var(--fundo-card);
  border-radius: 8px;
  padding: 1.5rem;
  font-weight: bold;
  height: 400px;
  color: white;
}

.titulo-calendario{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--cor-branca);
  position: relative;
}
.titulo-calendario::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 1px;
  background-color: orange;
  transition: width 0.3s ease-in-out;
}
.titulo-calendario:hover::before{
  width: 34%;
}

/*-----------------------------------------------------------------------------------------*/
/*Estilos relaciona ao nivel de estoque*/
.container-estoque{
  width: 55%;
  background-color: var(--fundo-card);
  border-radius: 8px;
  padding: 1.5rem;
  position: relative;
  height: 850px;
}

.titulo-nivel-estoque{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--cor-branca);
  position: relative;
}
.titulo-nivel-estoque::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 1px;
  background-color: orange;
  transition: width 0.3s ease-in-out;
}
.titulo-nivel-estoque:hover::before{
  width: 34%;
}


/*-------------------------------------------------------------------------------------------*/
table tbody td {
  padding: 14px;
  font-size: 16px;
}

table tbody tr {
  background-color: var(--cor-branca);
  border-bottom: 1px solid #e5e5e5;
}

table th {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.tabela-relatorio table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: var(--cor-branca);
  border-radius: 8px;
  overflow: hidden;
}

.tabela-relatorio th {
  height: 50px;
  text-align: left;
  padding-left: 20px;
  background-color: var(--fundo-card);
  color: var(--cor-branca);
}

/* Estilo dos hover da tabela -------------------*/
.tabela-relatorio tr:nth-child(odd),
.tabela-relatorio tr:nth-child(even){
  background-color: var(--fundo-card);
  color: var(--cor-branca);
}

.tabela-relatorio tr:hover {
  background-color: var(--amarelo-medcontrol);
  color: var(--cor-preta);
}


/*-------------------------------------------------------------------------------------------*/
/*botao emitir relatorio*/
.btn-emitir-relatorio{
  background-color: var(--amarelo-medcontrol);
  color: var(--cor-branca);
  border: none;
  border-radius: 4px;
  padding: 8px 17px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.btn-emitir-relatorio:hover {
  background-color: rgb(190, 147, 29);
}

