@charset "UTF-8";

/* Importando o sistema.css pra poder usar o :root dele para aplicar nos titulos e icones :D */
@import url("../../medcontrol-sistema/telas/estilo-componentes/sistema.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*---------------------------------------------------------------------------------------------------------------*/
/*Estilizando o "vendas.js*/
.tela-vendas {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 1rem;
  background: linear-gradient(180deg, var(--fundo-principal), #0b1626 60%);
  border-radius: 13px;
}

.card-vendas p {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--cor-branca);
}


.vendas-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  color: var(--cor-branca);
}

.vendas-cards p{
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--cor-branca)
}

/* Estilos dos cards de vendas ----------------*/
.receita-total-dia {
  width: 300px;
  height: 160px;
  background-color: var(--cor-branca);
  border-radius: 15px;
  text-align: center;
  background-color: var(--fundo-card);
  border: solid 1px #0077ff;
}
.valor-total-dia {
  position: relative;
  top: -26px;
  font-size: 2.5rem !important;
  font-weight: bold;
  color: var(--cor-branca);
}
.valor-total-dia p {
  margin-top: 10px ;
}


.vendas-realizadas {
  width: 300px;
  height: 160px;
  background-color: var(--cor-branca);
  border-radius: 15px;
  text-align: center;
  background-color: var(--fundo-card);
   border: solid 1px #59f01d;
}
.valor-vendas-realizadas {
  position: relative;
  top: -26px;
  font-size: 2.5rem !important;
  font-weight: bold;
  color: var(--cor-branca);
}
.vendas-realizadas p {
  margin-top: 10px;
}


.vendas-medias {
  width: 300px;
  height: 160px;
  background-color: var(--cor-branca);
  border-radius: 15px;
  text-align: center;
  background-color: var(--fundo-card);
  border: solid 1px #fa3636;
}
.valor-vendas-medias {
  position: relative;
  top: -26px;
  font-size: 2.5rem !important;
  font-weight: bold;
  color: var(--cor-branca);
}
.valor-vendas-medias{
  margin-top: 10px;
}

/* icones dos cards */
.card-vendas i {
  margin-top: 15px;
  font-size: 40px;
  color: orange;
}

/* Hover dos cards de vendas ----------------*/
.receita-total-dia:hover {
  background-color: #0077ff;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.vendas-realizadas:hover {
  background-color: #59f01d;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.vendas-medias:hover {
  background-color: #fa3636;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
/*------------------------------------------*/
/*Estilos da barra de busca da tela de vendas*/

.vendas-header h2 {
  background-color: var(--fundo-principal);
  padding: 10px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 2rem;
  color: var(--cor-branca);
  border-radius: 5px;
}

.vendas-pesquisa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.buscar-input-vendas {
  flex: 1;
  padding: 15px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  min-width: 0;
  background-color: var(--fundo-card);
  color: #ffffffee;
}
.buscar-input-vendas::placeholder {
  color: #ffffffee;
}

.btn-novo-venda {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;

}
/*----------------------------------------*/

/* Estilos da tabela de vendas -----------*/
.vendas-lista h2 {
  background-color: var(--fundo-principal);
  padding: 10px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 2rem;
  color: var(--cor-branca);
  border-radius: 5px;
}

.vendas-tabela {
  background-color: var(--fundo-principal);
  padding: 10px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 2rem;
  color: var(--cor-branca);
  border-radius: 5px;
}


/* Estilo das linhas da tabela ====================*/
.vendas-lista tr:nth-child(odd),
.vendas-lista tr:nth-child(even){
  background-color: var(--fundo-card);
  color: var(--cor-branca);
}

.vendas-tabela tr:hover {
  background-color: var(--amarelo-medcontrol);
  color: var(--cor-preta);
}
/*=================================================*/

.vendas-lista td i {
  color: var(--amarelo-medcontrol);
}

.btn-editar-venda {
  background-color: var(--amarelo-medcontrol);
  color: var(--cor-branca);
  border: none;
  border-radius: 4px;
  padding: 8px 17px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.btn-editar-venda:hover {
  background-color: rgb(190, 147, 29)
}

.btn-excluir-venda {
 background-color: #e84118;
  color: var(--cor-branca);
  border: none;
  border-radius: 4px;
  padding: 8px 17px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.btn-excluir-venda:hover {
  background-color: #c23616;
}
/*----------------------------------------*/

/*Estilos do modal de vendas -------------*/
.cadastro-venda-modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cadastro-venda-modal input {
  padding: 10px;
  font-family: var(--font-padrao);
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cadastro-venda-modal button[type="submit"]{
  background-color: #44bd32;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cancelar-modal {
  background-color: #e84118;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cadastro-venda-modal button[type="submit"]:hover {
  background-color: #4cd137;
  color: var(--cor-branca);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out
}

.cadastro-venda-modal button[type="button"]:hover {
  background-color: #e84118;
  color: var(--cor-branca);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

/* Estilizando o modal de editar venda----------*/
.cadastro-venda-modal-editar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cadastro-venda-modal-editar input {
  padding: 10px;
  font-family: var(--font-padrao);
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.salvar-modal {
  background-color: #4cd137;
  color: var(--cor-branca);
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.salvar-modal:hover {
  background-color: #237217;
  color: var(--cor-branca);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out
}

.close-modal {
  background-color: #e84118;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-modal:hover {
  background-color: #8d260c;
  color: var(--cor-branca);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out
}